[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "extern/tinyobjloader"]
	path = extern/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
